.aHeader {
    color: #888888

}

#h1id {
    color: lightgreen;
    text-align: center;

}

.h3class {

color: blue;

}

.pClass {
    color: red;

}

.someClass {
    width: 100%;
    background-color: gray;
    border: 5px solid black;
    border-radius: 25px;
}

.divClass1 {
    float: left; width: 32%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.divClass2 {
    float: left; width: 32%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.divClass3 {
    float: left; width: 32%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}